/* --- GENERAL STYLES CSS ---*/
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(155, 226, 192, 0.7),
    rgba(125, 164, 227, 1)
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

h1,
h2 {
  text-shadow: 0px 2px 2px rgba(118, 79, 240, 0.5);
  font-size: 50px;
}

h3 {
  color: rgba(66, 53, 107, 1);
  font-size: 25px;
}

h4 {
  color: rgba(118, 79, 240, 1);
  font-size: 20px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/*----- RESPONSIVE CODE FOR GENERAL STYLES ----*/
@media (max-width: 768px) {
  .heading {
    text-align: center;
    font-size: 40px;
  }
}

/* ------- NAVBAR STYLES CSS ------- */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
      to bottom,
      rgba(118, 79, 240, 1),
      rgba(118, 79, 240, 0)
    ),
    radial-gradient(
      circle at left,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  background-blend-mode: overlay;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.nav-link {
  color: rgba(66, 53, 107, 1);
}

.nav-link:hover {
  color: rgba(66, 53, 107, 0.8);
}

/* -------RESPONSIVE NAVBAR DESIGN ------ */
@media (max-width: 768px) {
  .nav-extras {
    display: none !important;
  }

  #navbarNav {
    text-align: center;
  }

  #login-button,
  #logout-button {
    width: 100%;
  }
}

/* --- HOME PAGE SAFEBLINK CSS ---*/
.card-1 {
  background-color: #8b85e7;
  border: none;
}

.btn-1 {
  background-color: #b9b5f1;
  border: 1px solid #b9b5f1;
}

.btn-1:hover {
  background-color: #b9b5f1;
}

.card-2 {
  background-color: #6ea0e4;
  border: none;
}

.btn-2 {
  background-color: #a6c2f1;
  border: 1px solid #a6c2f1;
}

.btn-2:hover {
  background-color: #a6c2f1;
}

.card-3 {
  background-color: #85ccc8;
  border: none;
}

.btn-3 {
  background-color: #b3dce1;
  border: 1px solid #b3dce1;
}

.btn-3:hover {
  background-color: #b3dce1;
}


/*----- CONTACT PAGE CSS ------*/
.link-card {
  padding: 30px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 10px;
  border: 1px solid white;
}

.link {
  background-color: rgba(153, 70, 243, 1);
  color: white;
  padding: 10px;
  width: 10%;
  border: 1px solid rgba(66, 53, 107, 0.1);
  border-radius: 10px;
}

/*----- RESPONSIVE STYLES FOR CONTACT PAGE ------- */
@media (max-width: 768px) {
  .link-card {
    flex-direction: column;
    gap: 1rem;
  }

  .link-card .w-75 {
    width: 100% !important;
  }

  .link {
    width: 100%;
  }

  section#contact {
    padding-inline: 15px;
  }
}

@media (max-width: 768px) {
  .ifes-mobile {
    flex-direction: column;
  }
}

/* ------- LOGIN PAGE STYLES ------- */
.modal-content-login {
  background: linear-gradient(
    to bottom,
    rgba(153, 70, 243, 0.5),
    rgba(66, 53, 107, 0.5)
  );
}

.btn-outline-purple,
input {
  border: 1px solid rgba(153, 70, 243, 1);
}

hr {
  color: rgba(107, 88, 241, 1);
}

#login-button,
#logout-button {
  border: 1px solid rgba(66, 53, 107, 1);
  color: rgba(66, 53, 107, 1);
}

.login-btn,
#go-to-profile {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(66, 53, 107, 1);
}

.login-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(66, 53, 107, 1);
}

#user-icon {
  vertical-align: middle;
}

.inactive-filter {
  color: rgba(0, 0, 0, 0.5);
}

#cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card {
  border-radius: 15px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.custom-card .card-img {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.custom-card-body {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
}

/* ------ RESPONSIVE STYLES FOR LOGIN PAGE----- */
@media (max-width: 768px) {
  #login .row {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  #login .col-md-6 {
    width: 100%;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  #login form {
    align-items: center;
  }

  #login form .w-75 {
    width: 100% !important;
  }

  #login img {
    max-width: 100%;
    height: auto;
  }

  #login .btn.w-50 {
    width: 100% !important;
  }

  .horizontal-line {
    width: 100% !important;
  }
}

/* ---- STYLES FOR FOOTER ----*/
.footer {
  background: linear-gradient(
    to bottom,
    rgba(66, 53, 107, 0.9),
    rgba(153, 70, 243, 0.2)
  );
}

/*---- RESPONSIVE STYLES FOR FOOTER -----*/
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links {
    align-items: center;
  }
}

/* ----RESPONSIVE STYLES FOR 404 PAGE ----*/
@media (max-width: 426px) {
  .dotlottie-player {
    max-width: 200px;
  }
}